body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

#contentCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameBlock {
  width: 800px;
  height: 600px;
}

#gameContainer {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #000;
}

#gameInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#scoreBlock {
  display: flex;
  font-size: 20px;
  margin-left: 15px;
}

#timerBlock {
  font-size: 20px;
  margin-right: 15px;
}

#startButton {
  width: fit-content;
}

#currentInput {
  display: block;
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
}
