.breakingWord {
  position: absolute;
  animation: breaking 0.5s forwards;
}

@keyframes breaking {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

#animatedWordsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

#contentCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameBlock {
  width: 800px;
  height: 600px;
}

#gameContainer {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #000;
}

#gameInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#scoreBlock {
  display: flex;
  font-size: 20px;
  margin-left: 15px;
}

#timerBlock {
  font-size: 20px;
  margin-right: 15px;
}

#startButton {
  width: fit-content;
}

#currentInput {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

.gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
}

#currentInput {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.cannonIcon {
  font-size: 36px;
  display: inline-block;
  vertical-align: bottom;
}

#inputWords {
  font-size: 20px;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.top-scores {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.top-scores h2 {
  margin-bottom: 10px;
}

.top-scores ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
